@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body,
#root {
  background-color: #222;
  color: #eee;
}

@supports ((.scrollbar::-webkit-scrollbar)) {
  .scrollbar {
    -ms-overflow-style: none;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    scrollbar-track-color: transparent;
  }
}

.snap {
  scroll-snap-type: x mandatory;
}

.scrollbar::-webkit-scrollbar {
  height: 2px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  background-color: transparent;
}


.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  @apply bg-white/30;
}